name: ci
on:
  push:
    branches:
      - master 
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material
      - run: pip install mkdocs-material-extensions
      - run: pip install mkdocs-git-revision-date-localized-plug
      - run: pip install jinja2
      - run: pip install markdown
      - run: pip install pygments
      - run: pip install pymdown-extensions
      - run: pip install colorama
      - run: pip install regex
      - run: pip install requests
      - run: mkdocs gh-deploy --force
